@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;600;700&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
}

button {
    padding: 0;
    border: 0;
    background: inherit;
    cursor: pointer;
    outline: none;
    width: 40px;
    height: 40px;
}

#audio-player-container {
    position: relative;
    margin: 100px 5% auto 5%;
    width: 90%;
    max-width: 500px;
    height: 80px;
    background: white;
}

#audio-player-container::before {
    position: absolute;
    content: '';
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    left: -2px;
    top: -2px;
    background: rgb(255,214,4);
    background: linear-gradient(150deg, rgba(255,214,4,1) 0%, rgba(0,0,0,1) 55%);
    z-index: -1;
}

p {
    position: absolute;
    top: -18px;
    right: 5%;
    padding: 0 15px;
    margin: 0;
    font-size: 1.6rem;
    background: white;
}

#play-pause-icon {
    margin: 20px 2.5% 20px 2.5%;
}
path {
    stroke: rgba(255,214,4,1);
}