@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap");

:root {
  --main-font: "Montserrat", sans-serif;
  --spotify-green: #1db954;
  --spotify-grey: #6e6e6e;
  --spotify-white: #eaeaea;
  --spotify-dark-bg: #181818;
  --spotify-darker-bg: #121212;
}

h1 {
  font-family: var(--main-font);
}

.arrowButton {
  border-radius: 50%;
  border: none;
  color: white;
  background-color: grey;
}
img {
  width: 80px;
  display: inline-block;
}
span {
  width: 80%;
}

.firstCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20%;
  border: 1px solid black;
  margin: 1rem;
}
